@import url(../variables.css);

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 100%;
    block-size: 65dvh;
}

.habits__title {
    block-size: 10%;
}