:root {
    --purple: #776acc;
    --dark-purple: #413975;
    --orange: #e5961e;

    --header-block-size: min-content;
    --header-color: #fff;
    --header-bg-color: var(--purple);
    --bg-color: #fcf9f8; 
    --header-font-size: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);

    --footer-block-size: 15dvh;
    --footer-bg-color: var(--purple);

    --auth-label-bg: var(--purple);
    --auth-label-color: #fff;
    --auth-active-bg: var(--dark-purple);
    --auth-padding: 25px;

    --habit-bg: var(--purple);
    --habit-hover-bg: var(--orange);
    --habit-color: #fff;
    --habit-delete-fill: #fff;
    --habit-check-fill: #fff;
}

@media screen and (width <= 375px) {
    :root {
        --auth-padding: 5px;
    }
}